#contact_info {
    margin-bottom: 1rem;
}

address {
    font-style: normal;

    #physical_address {
        margin-bottom: 1rem;
    }
}

form {
    margin-top: 1rem;

    fieldset {
        padding: 1rem;
        border-radius: 1rem;

        div:not(:last-of-type) {
            margin-bottom: 0.5rem; 
            * {
                display: block;
                width: 100%;
            }

            textarea {
                height: 6rem;
            }
        }

        button {
            padding: 0.5rem 2rem;
            font-family: var(--fontMain);
            font-size: 1rem;
            border-radius: 1.5rem;
            color: var(--colorBgMain);
            background-color: var(--colorSecondary);
            border: none;
        }
    }
}