@media (min-width: 640px) {
    #wrapper {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        gap: 1rem;
        > section {
            flex: 1 0 auto;
        }
    }
}

#contact_info {
    margin-bottom: 1rem;
}

address {
    font-style: normal;

    #physical_address {
        margin-bottom: 1rem;
    }
}

form {
    margin-top: 1rem;

    fieldset {
        padding: 1rem;
        border-radius: 1rem;

        div:not(:last-of-type) {
            margin-bottom: 0.5rem; 
            * {
                display: block;
                width: 100%;
            }

            textarea {
                height: 6rem;
            }
        }

        button {
            padding: 0.5rem 2rem;
            font-family: var(--fontMain);
            font-size: 1rem;
            border-radius: 1.5rem;
            color: var(--colorBgMain);
            background-color: var(--colorSecondary);
            border: none;
        }
    }
}

#contact_message {
    margin: auto;
    padding: 1rem;
    border-radius: 1rem;

    header {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        gap: 1rem;

        padding: 0;

        button.close {
            height: 0.5rem;
            font-size: 1.3rem;
            border: none;
            background-color: var(--colorBgMain);
        }
    }

    ul {
        margin-left: 1.5rem;
    }
}